PORT=

DB_SERVER=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

JWT_SECRET=

SMTP_HOST=
SMTP_PORT=
SMTP_PASSWORD=
SMTP_CLIENT_ID=
SMTP_TENANT_ID=
SMTP_CLIENT_SECRET=

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
SMTP_USER=
 
NODE_TLS_REJECT_UNAUTHORIZED=

NODE_ENV=

CORS_ORIGIN=

DB_ENCRYPT=
DB_TRUST_SERVER_CERTIFICATE=